$cup_width: 160px;
$cup_height: 200px;
$cup_slope: 20px;
$cup_gap: 40px;
$ball_radius: 40px;

.board {
  background-color: lightblue;
  position: relative;
  height: $cup_height*2 - $cup_gap;
  width: $cup_width*3 + $cup_gap*6;
  border: 100px solid;
  border-color: lightblue;
  border-bottom-color: floralwhite;
}

.cup {
  width: $cup_width - $cup_slope*2;
  border: $cup_slope solid transparent;
  border-bottom: $cup_height solid darkblue;
  border-top: 0px transparent;
  border-radius: 20px;
  display: inline-block;
  position: absolute; 
  top: $cup_height;
  transition: all 0.5s ease;
  z-index: 1;
}

.cup.raise {
  top: $cup_gap;
}

.ball {
  content: "";
  border: $ball_radius solid red;
  border-radius: $ball_radius;
  top: $cup_height*2 - $ball_radius*2;
  position: absolute;
  margin-left: ($cup_width)/2 - $ball_radius;
}


.overlay {
  z-index: 2;  
}

.message {
  padding-bottom: 100px;
}

.hidden {
  display: none;
}


@for $pos from -1 through 2 {
  .position_#{$pos} {
    left: $cup_gap*2 + ($cup_gap + $cup_width) * $pos;
  }
}
