$cup_width: 160px;
$cup_height: 200px;
$cup_slope: 20px;
$cup_gap: 40px;
$ball_radius: 40px;

.gameBoard {
  background-color: lightblue;
  position: relative;
  height: $cup_height*2 + $cup_gap*2;
  width: $cup_width*3 + $cup_gap*4;
}

.cup {
  width: $cup_width - $cup_slope*2;
  border: $cup_slope solid transparent;
  border-bottom: $cup_height solid darkblue;
  border-top: 0px transparent;
  display: inline-block;
  position: absolute; 
  top: $cup_height;
  transition: all 0.5s ease;
  z-index: 1;
}

.cup.raise {
  top: $cup_gap;
}

.ball {
  content: "";
  border: $ball_radius solid red;
  border-radius: $ball_radius;
  top: $cup_height*2 - $ball_radius*2;
  position: absolute;
  margin-left: ($cup_width)/2 - $ball_radius;
}


.overlay {
  z-index: 2;  
}

.hidden {
  display: none;
}

.from_1_to_2 {
  -webkit-animation-duration: 0.20s;
          animation-duration: 0.20s;
  -webkit-animation-name: from_1_to_2;
          animation-name: from_1_to_2;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@for $pos from -1 through 2 {
  .position_#{$pos} {
    left: $cup_gap + ($cup_gap + $cup_width) * $pos;
  }
}

@keyframes from_1_to_2 {
  from {
    left: 140; }
  to {
    left: 240; } }
